/* From uiverse.io */
.button {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 12px 24px;
    border: 2px solid #004e3de0;
    border-color: #004e3de0;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 25px;
    color: #004e3de0;
    z-index: 1;
    background-color: #ffffff00;
    top: -5%;
    left: 35%;
    text-decoration: none;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 217, 255, 0);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #60EFE0;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
    text-decoration: none;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #ffffffce;
    text-decoration: none;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #60efe188;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #60EFE0;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }