@media screen and (min-width:1280px){
    .menu {
      width: 100%;
      position:absolute;
      margin:1vh;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index:4;
      text-decoration:none;
      overflow:hidden;
    }
    
    a.nav-iten {
      text-decoration:none;
      color: aliceblue;
      transition: 0.3s;
      font-size: 17pt;
    }
  
    a.nav-iten:hover {
      padding-right: 3%;
      text-decoration:none;
      color: #004e3de0;
      transition: 0.5s;
      font-size: 17pt;
    }
    
    .menu__logo {
      margin-top: 2vh;
      display: flex;
      float: left;
      margin-left: 5vh;
      transition: all 0.5s; /*Aumenta o logo/home da esquerda*/
      cursor: pointer;
      margin-bottom: 10px;
    }
  
    img.logo {
      height:8vh;
      width:8vh;
    }
    
    .menu__button {
      margin-right: 10vh;
      display: flex;
      margin-top: 2vh;
      border: 3px solid #fff;
      border-radius: 5px;
      cursor: pointer;
      padding: 6px 32px;
      font-weight: 400;
      color: #fff;
      transition-duration: 0.2s;
      font-size: 17pt;
      text-decoration: none;
    }
    
    .menu__button:hover {
      background: #fff;
      color: #004e3de0;
      text-decoration: none;
    }
  
    a.menu__button:hover {
      background: #fff;
      color: #004e3de0;
      text-decoration: none;
    }
    
    .header {
      position: relative;
      width: 100%;
      height: 550px;
      display: flex;
      align-items: center;
      padding-left: 50px;
      text-decoration: none;
    }
    
    .header__background {
      top: 0;
      left: 0;
      width: 100%;
      height: 80%;
      position: absolute;
      background: linear-gradient(253deg, #0cc89965, #1797d25e, #874fe15d);
      overflow: hidden;
      transform: skewY(3deg) translateY(-80px);
      z-index: -1;
    }
    
    .header__background:after {
      content: '';
      background: linear-gradient(253deg, #0cc89965, #1797d25e, #874fe15d);
      width: 800%;
      position: absolute;
      top: -400%;
      right: -400%;
      height: 800%;
      opacity: 0.3;
      animation-duration: 140s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    
    .header__title {
      color: #fff;
      z-index: 2;
      display: inline-block;
      margin-left: 6%;
      text-decoration: none;
    }
    
    .header__title h1 {
      font-size: 75px;
      font-weight: 900;
      margin: 1;
      overflow:hidden;
    }
    
    .header__title h3 {
      font-size: 15pt;
      font-weight: 400;
      margin-bottom:20vh;
    }
    
      
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    @media screen and (max-width:1152px){
      .menu {
        width: 100%;
        position: absolute;
        top:0;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 23px;
        z-index: 4;
        text-decoration:none;
      }
      
      a.nav-iten {
        margin-top: 3%;
        text-decoration:none;
        color: aliceblue;
        transition: 0.6s;
        font-size: 25pt;
      }
    
      a.nav-iten:hover {
        padding-right: 3%;
        text-decoration:none;
        color: #004e3de0;
        transition: 0.6s;
        font-size: 25pt;
      }
      
      .menu__logo {
        margin-top: 10vh;
        display: flex;
        float: left;
        margin-left: 5vh;
        transition: all 0.5s; /*Aumenta o logo/home da esquerda*/
        cursor: pointer;
        margin-bottom: 10px;
      }
  
      img.logo {
        height:8vh;
        width:8vh;
      }
      
        .menu__logo:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
      
      .menu__logo p {
        color: #fff;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
        transition-duration: 0.2s;
      }
      
      .menu__button {
        margin: 0 10px;
        margin-right: 5vh;
        display: flex;
        margin-top: 35%;
        border: 3px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        padding: 6px 32px;
        font-weight: 400;
        color: #fff;
        transition-duration: 0.2s;
        font-size: 25pt;
        text-decoration: none;
      }
      
      .menu__button:hover {
        background: #fff;
        color: #004e3de0;
        text-decoration: none;
      }
    
      a.menu__button:hover {
        background: #fff;
        color: #004e3de0;
        text-decoration: none;
      }
      
      .header {
        position: relative;
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        text-decoration: none;
      }
      
      .header__background {
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        position: absolute;
        background: linear-gradient(60deg, #60EFE0, #12d1bee0);
        overflow: hidden;
        transform: skewY(3deg) translateY(-80px);
        z-index: -1;
      }
      
      .header__background:after {
        content: '';
        background: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
        width: 800%;
        position: absolute;
        top: -400%;
        right: -400%;
        height: 800%;
        opacity: 0.3;
        animation-name: rotate;
        animation-duration: 140s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      
      .header__title {
        color: #fff;
        z-index: 2;
        display: inline-block;
        margin-left: 6%;
        text-decoration: none;
      }
      
      .header__title h1 {
        font-size: 90px;
        font-weight: 900;
        margin: 0;
      }
      
      .header__title p {
        font-size: 20px;
        font-weight: 400;
      }
      
   
      
      
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    @media screen and (max-width:900px){
      .menu {
        width: 100%;
        position: absolute;
        top:0;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 23px;
        z-index: 4;
        text-decoration:none;
      }
      
      a.nav-iten {
        margin-top: 3%;
        text-decoration:none;
        color: aliceblue;
        transition: 0.6s;
        font-size: 25pt;
      }
    
      a.nav-iten:hover {
        padding-right: 3%;
        text-decoration:none;
        color: #004e3de0;
        transition: 0.6s;
        font-size: 25pt;
      }
      
      .menu__logo {
        margin-top: 10vh;
        display: flex;
        float: left;
        margin-left: 5vh;
        transition: all 0.5s; /*Aumenta o logo/home da esquerda*/
        cursor: pointer;
        margin-bottom: 10px;
      }
  
      img.logo {
        height:8vh;
        width:8vh;
      }
      
        .menu__logo:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
      
      .menu__logo p {
        color: #fff;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
        transition-duration: 0.2s;
      }
      
      .menu__button {
        margin: 0 10px;
        margin-right: 5vh;
        display: flex;
        margin-top: 35%;
        border: 3px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        padding: 6px 32px;
        font-weight: 400;
        color: #fff;
        transition-duration: 0.2s;
        font-size: 25pt;
        text-decoration: none;
      }
      
      .menu__button:hover {
        background: #fff;
        color: #004e3de0;
        text-decoration: none;
      }
    
      a.menu__button:hover {
        background: #fff;
        color: #004e3de0;
        text-decoration: none;
      }
      
      .header {
        position: relative;
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        text-decoration: none;
      }
      
      .header__background {
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        position: absolute;
        background: linear-gradient(60deg, #60EFE0, #12d1bee0);
        overflow: hidden;
        transform: skewY(3deg) translateY(-80px);
        z-index: -1;
      }
      
      .header__background:after {
        content: '';
        background: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
        width: 800%;
        position: absolute;
        top: -400%;
        right: -400%;
        height: 800%;
        opacity: 0.3;
        animation-name: rotate;
        animation-duration: 140s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      
      .header__title {
        color: #fff;
        z-index: 2;
        display: inline-block;
        margin-left: 6%;
        text-decoration: none;
      }
      
      .header__title h1 {
        font-size: 90px;
        font-weight: 900;
        margin: 0;
      }
      
      .header__title p {
        font-size: 20px;
        font-weight: 400;
      }
      
    
      
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    @media screen and (max-width:736px){
      .menu {
        width: 100%;
        position: absolute;
        top:0;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 23px;
        z-index: 4;
        text-decoration:none;
      }
      
      a.nav-iten {
        margin-top: 3%;
        text-decoration:none;
        color: aliceblue;
        transition: 0.6s;
        font-size: 25pt;
      }
    
      a.nav-iten:hover {
        padding-right: 3%;
        text-decoration:none;
        color: #004e3de0;
        transition: 0.6s;
        font-size: 25pt;
      }
      
      .menu__logo {
        margin-top: 10vh;
        display: flex;
        float: left;
        margin-left: 5vh;
        transition: all 0.5s; /*Aumenta o logo/home da esquerda*/
        cursor: pointer;
        margin-bottom: 10px;
      }
  
      img.logo {
        height:8vh;
        width:8vh;
      }
      
        .menu__logo:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
      
      .menu__logo p {
        color: #fff;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
        transition-duration: 0.2s;
      }
      
      .menu__button {
        margin: 0 10px;
        margin-right: 5vh;
        display: flex;
        margin-top: 35%;
        border: 3px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        padding: 6px 32px;
        font-weight: 400;
        color: #fff;
        transition-duration: 0.2s;
        font-size: 25pt;
        text-decoration: none;
      }
      
      .menu__button:hover {
        background: #fff;
        color: #004e3de0;
        text-decoration: none;
      }
    
      a.menu__button:hover {
        background: #fff;
        color: #004e3de0;
        text-decoration: none;
      }
      
      .header {
        position: relative;
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        text-decoration: none;
      }
      
      .header__background {
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        position: absolute;
        background: linear-gradient(60deg, #60EFE0, #12d1bee0);
        overflow: hidden;
        transform: skewY(3deg) translateY(-80px);
        z-index: -1;
      }
      
      .header__background:after {
        content: '';
        background: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
        width: 800%;
        position: absolute;
        top: -400%;
        right: -400%;
        height: 800%;
        opacity: 0.3;
        animation-name: rotate;
        animation-duration: 140s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      
      .header__title {
        color: #fff;
        z-index: 2;
        display: inline-block;
        margin-left: 6%;
        text-decoration: none;
      }
      
      .header__title h1 {
        font-size: 90px;
        font-weight: 900;
        margin: 0;
      }
      
      .header__title p {
        font-size: 20px;
        font-weight: 400;
      }
      
      
      
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    @media screen and (max-width:414px){
      .menu {
        width: 100%;
        position: absolute;
        top:0;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 23px;
        z-index: 4;
        text-decoration:none;
      }
      
      a.nav-iten {
        margin-top: 3%;
        text-decoration:none;
        color: aliceblue;
        transition: 0.6s;
        font-size: 25pt;
      }
    
      a.nav-iten:hover {
        padding-right: 3%;
        text-decoration:none;
        color: #004e3de0;
        transition: 0.6s;
        font-size: 25pt;
      }
      
      .menu__logo {
        margin-top: 10vh;
        display: flex;
        float: left;
        margin-left: 5vh;
        transition: all 0.5s; /*Aumenta o logo/home da esquerda*/
        cursor: pointer;
        margin-bottom: 10px;
      }
  
      img.logo {
        height:8vh;
        width:8vh;
      }
      
        .menu__logo:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
      
      .menu__logo p {
        color: #fff;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
        transition-duration: 0.2s;
      }
      
      .menu__button {
        margin: 0 10px;
        margin-right: 5vh;
        display: flex;
        margin-top: 35%;
        border: 3px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        padding: 6px 32px;
        font-weight: 400;
        color: #fff;
        transition-duration: 0.2s;
        font-size: 25pt;
        text-decoration: none;
      }
      
      .menu__button:hover {
        background: #fff;
        color: #004e3de0;
        text-decoration: none;
      }
    
      a.menu__button:hover {
        background: #fff;
        color: #004e3de0;
        text-decoration: none;
      }
      
      .header {
        position: relative;
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        text-decoration: none;
      }
      
      .header__background {
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        position: absolute;
        background: linear-gradient(60deg, #60EFE0, #12d1bee0);
        overflow: hidden;
        transform: skewY(3deg) translateY(-80px);
        z-index: -1;
      }
      
      .header__background:after {
        content: '';
        background: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
        width: 800%;
        position: absolute;
        top: -400%;
        right: -400%;
        height: 800%;
        opacity: 0.3;
        animation-name: rotate;
        animation-duration: 140s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      
      .header__title {
        color: #fff;
        z-index: 2;
        display: inline-block;
        margin-left: 6%;
        text-decoration: none;
      }
      
      .header__title h1 {
        font-size: 90px;
        font-weight: 900;
        margin: 0;
      }
      
      .header__title p {
        font-size: 20px;
        font-weight: 400;
      }
      
     
      
    }